.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-logo{
  height: 100%;
  width: 100%;
}

.nav-logo-box{
  width: 15vh;
}

.auth-options-box{
  display: inline-block;
  width: 32.5vh;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.auth-button{
  color: white;
  text-decoration: none;
  background-color: #61dafb;
  transition-duration: 0.4s;
  box-shadow: 0;
}
.auth-button:hover {
  background-color: #4287f5; /* Green */
  color: white;
}